body {
    /* background-image:  url(background.png); */
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

/* body{
    background-image: url(background.png);
    background-size: cover; 
} */

.buttonBox {
  display: flex;
  justify-content: center;
}

.dropdowns{
    text-align: left;
    margin-bottom: 200px;
}