
.alert {
    background-color: #ff4545;
    margin: 50px;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 50px;
}


.item-div {
  height: 350px;
   width: 350px;
   font-size: 80%;
   padding: 5px;
   font-family: Arial, Helvetica, sans-serif;
   /* background-color: rgb(80, 85, 80); */
   background-color: #aaac39;
   box-shadow:  2px 2px lightgray;
   margin: 20px;
}

.image-div{
    height: 250px;
 width: 250px;
   display: block;
    margin-left: auto;
    margin-right: auto;
 object-fit: cover;
 overflow: hidden;
}

.image-div img:hover {
  height: 250px;
  width: 250px;
  opacity: 1;
  filter: saturate(1);
}


.item-button-div {
    /* border-top: .2px solid #bbbbbb; */
    text-align: center;
}


.item-button-div button {
    border: none;
    font-family: 'Raleway', sans-serif;
    color: #696969;
    font-weight: 700;
    font-size: 1em;
    padding: 10px;
    margin-top: 5px;
    transition: color .4s;
    outline: none;
}

.item-button-div button:hover {
    color: #cf2121;
    cursor: pointer;
}
.image-div img {
  height: 270px;
  width: 270px;
  object-fit: cover;
  overflow: hidden;
  opacity: .89;
  transition: height .8s, width .8s, opacity .8s;
}
#box{
    height: 150px;
    width: 250px;
}
form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

/* img{
    height: 400px;
} */



.imageGallery{
    margin: 20px;
    text-align: center;
    
}

input {
    margin: 5px;
    margin-bottom: 10px;
}


/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}


.log-in, .log-out, .register {
  background-color: whitesmoke ;
  border-radius: 4px;
  color: black;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: rgb(170,172,57);
}

.pageImage{
    margin: 20px;
    text-align: center;
}

.pageImageSize{
    height: 475px;
}
.pageList{
     text-align: center;
    
    
}

ul {
    list-style-type: none;
}



