.dropdowns select{
    margin-right: 20px;
}

.dropdowns{
    text-align: left;
    margin-bottom: 200px;
}

.whiteSpace {
     /* background-image: url(pinkGradient.png); */
    /* background-color: white; */
    height: 100%;
}
