.dropdowns select{
    align-items: center;
    margin-right: 50px;
    padding-right: 100px;
    color: #ff5b45;
}

.dropdowns{
    text-align: center;
    margin-bottom: 200px;
    
}

.whiteSpace {
     /* background-image: url(pinkGradient.png); */
    /* background-color:#f6c4c3; */
    height: 500%;
}

body{
    /* background-image: url(whtie-bk.png) !important; */
    background-color: white;
}

.add-margin{
    margin: 100px;
    height: 100%;
}