.logo{
    /* background: url(title2.png) center center no-repeat; */
    /* background-position: center;
    background-repeat: no-repeat; */
    padding-top: 200px;
    background-size: 200%;
    box-align: center;
    margin: 0;
   
}
.logo{
       background-Image: no-repeat;
}