
.flex-container {
  display: flex;
}

.navImage{
  align-content: left;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

}
.nav-title {
  font-family: 'Syncopate', sans-serif;
    /* font-size: 0px; */
    text-align: center;
    color: black;
    float: right;
    /* height: 0px; */
     /* padding-left: 45px; */ 
}

.nav {
  text-align: center;
  /* overflow: hidden;
  /* padding-right: 700px; */
  
}

.nav-link {
  float: left;
  font-size: 24px;
  color: #ff5b45;
  text-align: center;
  padding: 0px 25px;
  text-decoration: none;
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #f6c4c3;
}

.logoutButton{
   position: absolute;
  left: 150px;
  
}
/* .nav-right {
  float: center;
} */